section {
  width: 100vw;
  height: 100vh;
  background-color: #999999;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  overflow: hidden; 
}

.section-container {
  max-width: 1200px;
  height: 100%;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

.section-header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    height: 100%;
    width: 100%;
}