* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    scroll-snap-type: y mandatory;
}

/* Centered standardized-container with max width inside each section */
section {
    width: 100vw;
    height: 100vh;
    background-color: #121212;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}

.section-container {
    max-width: 1200px;
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
    color: #e0e0e0;
  }
  
  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
    color: #e0e0e0;
  }
  
  h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4;
    color: #b3b3b3;
  }

  body, p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #e0e0e0;
  }
  
  .primary-text {
    font-size: 16px;
    font-weight: 400;
    color: #e0e0e0;
  }
  
  .secondary-text {
    font-size: 14px;
    font-weight: 400;
    color: #b3b3b3;
  }
  
  .disabled-text {
    font-size: 14px;
    font-weight: 400;
    color: #7d7d7d;
  }

.hero {
    background-color: #323333;
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    .section-container {
        padding: 0 0.5rem;
    }
}

@media (min-width: 1200px) {
    main {
        /* padding: 3rem; */
    }
}

::-webkit-scrollbar {
    width: 8px;             
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}